nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -15px grey;
  top: 0; 
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 999;
  position: fixed;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Sequel Sans Heavy Head', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #4C4C4E;
}

#logo-link {
  text-decoration: none;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0C79BE;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
}

.cart-link {
  text-decoration: none;
  color: #4C4C4E;
  font-size: 18px;
  margin-left: auto;
}
.categories {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  
}
.categories a {
  cursor: pointer;
  margin-right: 15px;
  text-decoration: none;
  color: #4C4C4E;
  font-size: 18px;
}