<div *ngIf="!isLoading">
  <div *ngFor="let cart of carts" class="cart-item">
    <div class="product-list">
      <div *ngFor="let product of cart.products" class="product-item">
        <img [src]="getProductImage(product.productId)" alt="Product Image" />
        <div class="product-info">
          <p class="product-title">{{ getProductTitle(product.productId) }}</p>
          <p>
            <input
              type="number"
              [(ngModel)]="product.quantity"
              (change)="updateQuantity(cart, product.productId, product.quantity)"
              min="1"
            />
            <button (click)="removeProduct(cart, product.productId)">Remove</button>
          </p>
          <p>
            Total price for product(s):
            {{
              getProductPrice(product.productId) * product.quantity | currency
            }}
          </p>
        </div>
      </div>
    </div>
    <hr />
    <button (click)="clearCart()"  [ngStyle]="isCartEmpty() ? { 'background-color': '#0C79BE' } : {}">
      {{ isCartEmpty() ? 'Continue Shopping' : 'Clear Cart' }}
    </button>
  </div>
  <div class="grand-total">Total: {{ grandTotal | currency }}</div>
</div>
<div *ngIf="isLoading">Loading...</div>
