.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 638px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s ease-in-out;
    align-items: center;
    &:hover{
        transform:scale(1.05)
    }

    img{
        padding-top: 5px;
        width: 200px;
        height: 250px;
       
    }
    h2{
        margin:1rem 2rem;
        flex: 1; 
        padding: 0 2rem; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    span{
        margin:0 2rem;
    }

    button{
        margin:2rem;
        cursor: pointer;
        padding: 1rem;
        background-color: #0C79BE;
        border-radius: 5px;
        color: white;
        font-weight: bold;

    }
    input{
        border-radius: 5px;
    }
    .rating {
        font-size: 20px;
        color: #ffc107; 
      }
   
}